<p id="notice"><%= notice %></p>

<div class="container">
<h2>ContactAddress Details</h2>

<p>
  <strong>AddressType:</strong>
  <%= @contact_address.address_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact_address.address %>
</p>

</div>
