<div class="container main-container">
  <div class="main-container-top">
    <div class="filter-icons">
      <ul class="nav navbar-nav navbar-right">
        <%= link_to 'New', new_contact_contact_phone_number_path %>
      </ul>
    </div>
      <h1>Contact PhoneNumbers</h1>
      <hr class="border">
      <p id="notice"><%= notice %></p>
        <div class="table table-bordered">
          <div class="table-responsive scrollbar" id="table-scrollbar">	 
		    <table class="table mmt-table" id="emp_table">
              <thead>
                <tr>
                  <th>PhoneType</th>
                  <th>PhoneNumber</th>
                  <th class="actions">Actions</th>
                </tr>
              </thead>
              <body>
                <%= render @contact_phone_numbers %>
              </body>
            </table>
          </div>
        </div>
  </div>
</div>