<h3>ContactPhoneNumbers</h3>

<table>
  <tr>
    <th>PhoneType</th>
    <th>PhoneNumber</th>
    <th class="actions">Actions</th>
  </tr> 
  <tbody>
    <%= render @contact_phone_numbers %>
  </tbody>
</table>

<%= link_to 'New Contact PhoneNumber', new_contact_contact_phone_number_path %>
